doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .menu
      a(href="about" class="btn btn-success btn-lg") о компании
      a(href="news" class="btn btn-success btn-lg") о компании
      a(href="contact" class="btn btn-success btn-lg") о компании
    block content
